body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo-container img{
    height: 100px;
    width: 100px;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding-right: 30px;
    font-size: 24p;
}

.res-card{
    margin: 10px;
    padding: 15px;
    width: 200px;
    border: 1px solid white;
}

.res-card:hover{
    border: 1px solid black;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.dish-img{
    height: 150px;
    width: 195px;
}

.filter{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Shimmer CSS */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
  .shimmer-card {
    flex-basis: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  }
  .shimmer-title {
    width: 60%;
    margin-top: 10px;
  }
  .shimmer-tags {
    width: 80%;
    margin-top: 4px;
  }
  .shimmer-details {
    width: 100%;
    margin-top: 18px;
  }
  .shimmer-container .shimmer-img {
    height: 144px;
    width: 230px;
  }